body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

main {
    padding: 20px;
}

.audio-comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    background: #fff;
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.audio-pair {
    display: flex;
    gap: 20px; /* 给两个音频播放器之间添加一些间距 */
}

audio {
    width: 40%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .audio-pair-container {
        flex-direction: column; /* 在小屏幕上堆叠显示 */
    }
}